<!DOCTYPE HTML>
{% load static %}
<html id ='aboutmehtml'>
    <head>
            <title> Welcome</title>
            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
            <script type="text/javascript" src ="script.js"></script>
            <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
             <link rel ="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body id = 'aboutme'>
        <div id = 'backgroundaboutme'></div>
        <div id = "headmenu">
            <a href = '{%url "KyosenaCV:index" %}'><button class = "headitem"> <b>Home</b></button></a>
            <a href = '{%url "KyosenaCV:Resume" %}'><button class = "headitem"> Resume</button></a>
            <button class = "headitem"> About me</button>
        </div>
        <div class = 'back'>
            <a href = "javascript:history.back()"c><button class = 'backbutton'><span><< </span>Back</button></a>
        </div>
        <div class = 'pnd'>
            <div class ='pndpicture'></div>
            
        </div>
        <div class ='pndtitle'>
            <p>PASSIONS AND DREAMS</p>
        </div>
        <div class ='pndcontent'>
            I was born in <b>Jakarta,</b> the metropolitan capital of Indonesia. It is only natural for me to have an affinity for tech and graphical design, seeing how virtually anything inside the rustling and bustling hometown of mine are all connected digitally. It is my dream to one day not just be a part of it, but to influence it through graphic design.
        </div>
        <div class = 'ane'>
            <div class ='anepicture'></div>
        </div>
        <div class = 'anetitle'>
            <p>ADAPTABLE AND EVOLVING</p>
        </div>
        <div class= 'anecontent'>
            <p>
                Coming from where I came and having met the people I have, I can confidenty say that I have a substantial experience in working with diverse people from many walks of life. I’m always looking for ways to evolve and improve my efficiency. I can adapt to ever changing situations swiftly, turning risks and obstacles into oppurtunities that can be exploited. 
            </p>
        </div>
        <div class = 'mystery'>
           
        </div>
        <div class ='mysterypicture'></div>
        <div class = 'mysterytitle'>
            <p> WHAT'S LIFE WITHOUT A BIT OF MYSTERY?</p>
        </div>
        <div class = 'mysterycontent'>
            <p>If you’ve read all of this, then I’m going to assume that I’ve peaked your interest. I would love to tell you all about myself, but what’s life without a bit of mystery? Whether it would be through work or purely social endeavours, I hope we can get to know each other better.</p>
        </div>

    </body>
</html>