<!DOCTYPE HTML>
{% load static %}
<html>
    <head>
            <title> Welcome</title>
            <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
             <link rel ="stylesheet" href="{% static 'css/main.css' %}"">
    </head>
    <body id ='indexbody'>
            <div id = "headmenu">
                <button class = "headitem"> <b>Home</b></button>
                <a href = '{%url "KyosenaCV:Resume" %}'><button class = "headitem"> Resume</button></a>
                <a href ='{%url "KyosenaCV:AboutMe" %}'><button class = "headitem"> About me</button></a>
            </div>
            <div class = "splash" align = center>
                <p id='title'>Kyosena<img id = "portrait"  src ="static/images/Sharp.jpg" align = 'center' alt = "a very handsome man" width="250" height="250">Haridza</p>
        </div>
            <div class ="hi" align = center>
                <p>  Hi there. I'm Kyo. <br>
                    Let's make something <b id="beauty"> beautiful.</b></p>
        </div>
        <div class = 'sosmed' align = center>
            <a href ='https://www.instagram.com/kyosenaharidza/' target = 'popup'><img  id = "instagram" src="static/images/instagram.png" alt = "an instagram logo"  width = "70" height = "70"></a>
            <a href = 'https://id.linkedin.com/in/kyosena-haridza-2b363816b' target = 'popup'><img id ="linkedin" align = 'bottom' src="static/images/linkedin1.png" alt = "a linkedin logo"  width = "78"  height="78"></a>
        </div>
        <div id ='gradient'></div>
    </body>
    
</html>