<!DOCTYPE HTML>
{% load static %}
<html>
    <head>
        <title> Welcome</title>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src ="script.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
        <link rel ="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body id = 'Resume'>
        <div id = 'backgroundimage'></div>
        <div id = "headmenu">
            <a href = "{%url 'KyosenaCV:index' %}"><button class = "headitem"> Home</button></a>
            <button class = "headitem"><b> Resume</b></button>
            <a href = '{%url "KyosenaCV:AboutMe" %}'><button class = "headitem"> About me</button></a>
        </div>
        <div class = 'back'>
            <a href = "javascript:history.back()"><button class = 'backbutton'><span><< </span>Back</button></a>
        </div>
        <div class = 'bio'>
            <img id = 'biopic' src ="{% static 'images/1053947.jpg' %}" alt = "Kyo"height = 28% width = 20% px >
            <div class = 'lightwhitebox' id = "info">
                 <p> Name : Kyosena Haridza </p>
                 <p> Address : Apartemen Grand Taman <br> Melati</p>
                 <p> Phone : 081380805130</p>
                 <p> Email : Kyosenaharidza@gmail.com</p>
            </div>
            <div class = 'lightyellowbox' id = 'desc'>
                <p id ='biodesc'> Biography :</p>
                 <p id = 'description'> I'm a 19 year old college student who's looking for new experiences to widen my field of view and improve my proficiency. I get along well with all kinds of people and love teamwork. </p>
            </div>
            <div class = 'descstyle'></div>
            
        </div>
        <div class = 'SW'>
            <div class = 'lightbrownbox' id = 'Strengths'>
                <p>Strengths:</p>
                <div id = 'boast'>
                    <p> -Socializing </p>
                    <p>-Fast-Integration and highly adaptable</p>
                    <p>-Tech-savvy</p>
                    <p>-High-energy and motivated</p>
                 </div>
            </div>
            <div class = "StrengthStyle"></div>
            <div class = 'darkbluebox' id ='Weaknesses'>
                    <p> Weaknesses:</p>
                    <div id = 'humbling'>
                     <p> -I may talk too much</p>
                    <p> -Calculus</p>
                    <p> -Aloof in certain subjects</p>
                    </div>
                
            </div>
            <div class = "WeaknessStyle"></div>
            
        </div>
        <div class = 'education'>
            <div class = 'lightbluebox' id = 'formal'>
                <p> Education:</p>
                <div id = 'formaleducation'>
                    <p class = 'location'> -Universitas Indonesia</p>
                    <p class = 'detail'> Bachelor's degree in computer <br> science</p>
                    <p class = 'location'> -SMAN 81</p>
                    <p class = 'detail'> High School Diploma</p>
                    <p class = 'location'> -SMPN 115</p>
                    <p class = 'detail'> Middle School Diploma</p>
                </div>
                
            </div>
            <div class = 'FormalStyle'></div>
            <div class ='darkredbox' id = 'non-formal'>
                <p>Non-Formal Education:</p>
                <div id ='non-formaleducation'>
                    <p class = 'location'> -Ganesha Operation</p>
                    <p class = 'detail'> High School Level</p>
                    <p class = 'location'> -Inten </p>
                    <p class = 'detail'> Middle School Level</p>
                    <p class = 'location'>-Primagama</p>
                    <p class = 'detail'> Elementary Level</p>
                </div>
            </div>
            <div class = 'NonformalStyle'></div>
        </div>
        <div class ='likesndislikes'>
            <div class ='darkgreenbox' id = 'likes'>
                <p> Likes:</p>
                <div class = 'interests'>
                    <p> Anything Technology Related</p>
                    <p> Making Friends and meeting people</p>
                    <p> Video Games</p>
                    <p> Travelling</p>
                    <p> Cinematography</p>
                </div>
            </div> 
            <div class ='LikeStyle'></div>
            <div class = 'darkpurplebox' id = 'dislikes'>
                <p> Dislikes:</p>
                <div class ='disinterests'>
                    <p> Indie Music</p>
                    <p> Anything Spiritual</p>
                    <p> Gossip</p>
                    <p> Pretentiousness</p>
                    <p> Loud People</p>
                </div>
            </div >
            <div class = 'DislikeStyle'></div>

            </div>
        </div>
    </body>
        